#ignore debug path
/build-toAdmin-Desktop_Qt_5_4_2_MinGW_32bit-Debug
/build-toAdmin-Desktop_Qt_5_4_2_MinGW_32bit-Release
/build-toAdmin-Desktop_Qt_5_4_2_MinGW_32bit_qt_54_w-Debug
/build-toAdmin-Desktop_Qt_5_4_2_MinGW_32bit_qt_54_w-Release
#ignore /toAdmin/*.user, *.autosave
/toAdmin/*.user
/toAdmin/*.autosave